<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.shopper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/shopperlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/shopperlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".CommentsActivity"></activity>
        <activity
            android:name=".MainActivity2"
            android:label="@string/title_activity_main2" />
        <activity
            android:name=".StoryActivity"
            android:theme="@style/FullScreen" />
        <activity android:name=".qrGeneratorActivity" />
        <activity android:name=".SearchLinkActivity" />
        <activity android:name=".QrScannerActivity" />
        <activity android:name=".DeleteAccountActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HelpCenterActivity" />
        <activity android:name=".TermsAndConditionActivity" />
        <activity android:name=".PrivacyPolicyActivity" />
        <activity android:name=".MyLocationActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity android:name=".NotificationsActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".UpdateUserInfoActivity" />
        <activity android:name=".ConfirmActivity" />
        <activity android:name=".OrderconfirmedActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <activity android:name=".ProductDetailsActivity" />
        <activity android:name=".ViewAllActivity" />
        <activity android:name=".MyAddressesActivity" />
        <activity android:name=".AddAddressActivity" />
        <activity android:name=".DeliveryActivity" />
        <activity android:name=".OrderDetailsActivity" />
        <activity android:name=".CategoryActivity" />
        <activity
            android:name=".MyAppIntro"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />
        <activity
            android:name="com.paytm.pgsdk.PaytmPGActivity"
            android:configChanges="keyboardHidden|orientation|keyboard"
            android:screenOrientation="portrait"
            android:theme="@style/paytmTheme"
            tools:replace="android:theme" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>
    </application>

</manifest>